.Up {
    text-align: center;
    background-color: rgba(250, 249, 250, 1);
}

.Up .lp .un {
    transition: width 0.3s;
    border: lime;
  block-size: 40px;
    text-align: center ;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(250, 249, 250, 1);
      border-bottom-style: solid;
      border-bottom-width: 2.00px;
      border-left-style: solid;
      border-left-width: 2.00px;
      border-right-style: solid;
      border-right-width: 2.00px;
      border-top-style: solid;
      border-top-width: 2.00px;
      border-top-left-radius: 45.00px;
      border-top-right-radius: 45.00px;
      border-bottom-left-radius: 45.00px;
      border-bottom-right-radius: 45.00px;
      -webkit-filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
    filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
      width: 219.00px;
    height: 39.00px;
    left: 639.00px;
    top: 342.00px;
}
.Up .lp .un:hover {
    width : 232px;
}
.Up .lp .em:hover {
    width : 232px;
}
.Up .lp .em {
    transition: width 0.3s;
    border: lime;
  block-size: 40px;
  text-align: center ;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(250, 249, 250, 1);
  border-bottom-style: solid;
  border-bottom-width: 2.00px;
  border-left-style: solid;
  border-left-width: 2.00px;
  border-right-style: solid;
  border-right-width: 2.00px;
  border-top-style: solid;
  border-top-width: 2.00px;
  border-top-left-radius: 45.00px;
  border-top-right-radius: 45.00px;
  border-bottom-left-radius: 45.00px;
  border-bottom-right-radius: 45.00px;
  -webkit-filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
  width: 219.00px;
height: 39.00px;
left: 639.00px;
top: 342.00px;
}
.Up .lp .pw:hover {
    width : 232px;
}

.Up .lp {
    border: 2px rgb(0, 0, 0);
    border-radius: 30px;
}

.Up .lp .pw {
    transition: width 0.3s;
    border: lime;
    block-size: 40px;
    text-align: center;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(250, 249, 250, 1);
    border-bottom-style: solid;
    border-bottom-width: 2.00px;
    border-left-style: solid;
    border-left-width: 2.00px;
    border-right-style: solid;
    border-right-width: 2.00px;
    border-top-style: solid;
    border-top-width: 2.00px;
    border-top-left-radius: 45.00px;
    border-top-right-radius: 45.00px;
    border-bottom-left-radius: 45.00px;
    border-bottom-right-radius: 45.00px;
    -webkit-filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
  filter: drop-shadow(5px 4px 5px rgba(97, 121, 199, 1));
    width: 219.00px;
  height: 39.00px;
  left: 639.00px;
  top: 342.00px;
}

.Up .path2 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(241, 0, 0, 1);
      background-color:  rgba(241, 0, 0, 1);
      stroke: rgba(112, 112, 112, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      box-shadow: none;
      -webkit-filter: blur(0px);
  filter: blur(11px);
      width: 239.05px;
    height: 795.83px;
    left: -1.15px;
    top: -1.50px;
}